.ikonka h1{
    font-size: 20px; 
    color: rgb(19, 19, 121);
}
.ikonka h1 span {
    color: white;
    background-color: rgb(19, 19, 121) ;
    border-radius: 100%;
    padding: 5px;
}
*{
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.upheader {
    display: flex;
    background-color: whitesmoke;
    margin-left: 6%;
    width: 85%;
    border-radius: 10px 10px 0px 0px;
    padding: 16px ;
}
.uzb  {
    box-sizing: border-box;
}
.uzb ul li{
    display: inline;
    background-color: whitesmoke;
    padding: 10px;
    transition: 0.2s;
    border-radius: 10px;
}
.uzb ul li a:hover{
    color: rgb(52, 52, 221);
    transition: 0.2s;

}
.uzb ul li a{
    text-decoration: none;
    transition: 0.2s;
    color: black;
    font-weight: bold;
    font-size: 19px;
}
.gazicon{
    font-size: 9px;
        margin-left: 10px;
        color: rgb(248, 132, 0);
}
.til ul li {
    list-style: none;  
    background-color:rgb(121, 121, 121);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px; 
    color: white;
    transition: 0.2s;

}
.sub {
    display: none;
   
}
.til ul li:hover .sub {
    display: block;
    position: absolute;
    margin-left: -45px;
    cursor: pointer;
    transition: 0.2s;
    
    border-radius: 0px 0px 20px 20px;
}
.til ul li:hover .sub ul li {
    padding-top: 5px;
    border-radius: 0px 0px 10px 10px;
    transition: 0.2s;

}
.search li{
    list-style: none;
    background-image: url(./search-solid.svg);
    width: 20px;
    height: 20px;
    transition: 0.2s;
}
.sinp {
    display: none;
    transition: 0.2s;
    
}
.sinp input {
    height: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius:2px ;
    transition: 0.2s;

}
.search li:hover .sinp{
    display: block;
    position: absolute;
    margin-left: -150px;
    margin-top: 20px;
    transition: 0.2s;

}
.xudud {
    display: inline-flex;
    background-color: rgb(219, 219, 219);
    width: 87%;
    margin-left: 6%;
    
}
.xudud ul {
    display: inline-flex;
    
    list-style: none;
}
.xudud ul li {
    padding-top: 6px;
    margin-left: 2px;
    transition: 0.2s;

}
.xudud ul li a {
    text-decoration: none;
    border-right: 2px solid gray;
    padding: 0px 5px;
    color: gray;
    font-size: 17px;
}
.xudud h3 {
    font-size: 15px;
    background-color: rgb(19, 19, 121);
    color: white;  
    padding: 10px;
}
.xudud ul li a:hover {
    color: rgb(52, 52, 221);
    
    transition: 0.2s;
}
.yol img {
    width: 45%;
    height: 100%;
}
 .yol a {
    margin-left: 6%;
    margin-top: 0.5%;
    background-color: rgba(118, 145, 194, 0.336);
    width: 69%;
    height: 300px;
    display: flex;
    text-decoration: none;
    color: black;
    transition: 0.3s;

}
.yol a:hover{
    color: rgb(52, 52, 221);
    transition: 0.3s;
}

.data h6 {
    margin-left: 5px;
    color: gray;
    font-weight: normal;
    font-size: 15px;
}
.data {
    display: flex;
}
.gap h1 {
    font-size: 23px;
    margin-top: 1%;
    margin-bottom: 3%;
}
.gap {
    margin-top: 3%;
    margin-left: 2%;
    padding: 1px;
}
.kichu a  {
    width: 94%;
    height: 100px;
    display: flex;
    margin-top: 1%;
    margin-left: 3%;
    text-decoration: none;
    color: black;
    transition: 0.3s;

}
.kichu a:hover {
    color: rgb(52, 52, 221);
    transition: 0.3s;

}
.kichu img {
    width: 40%;
}
.yoz1 {
    margin-left: 2%;
    border-bottom:1px solid black ;
    
}
.yoz1 h5 {
    font-size: 13.5px;
    margin-top: 5px;

}
.flex {
    display: flex;
    width: 71%;
    margin-left: 5%;
}
.header1{
    width: 69%;
    margin-left: 6%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.krug {
    border: 4px solid rgb(19, 19, 121);
    width: 5.5px;
    border-radius: 100%;
    height: 5.5px;
    margin-right: 5px;
}
.sarlavha h2 {
    font-size: 20px;
}
.sarlavha {
    align-items: center;
    display: flex;
}
.header1 a {
    color: rgb(19, 19, 121);    transition: 0.3s;

}
.header1 a:hover{
    transition: 0.3s;
    color: rgb(52, 52, 221);
}
.bitta  {
    width: 32.2%;
    height: 10%;
}
.bitta a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.bitta a:hover{
    transition: 0.3s;
    color: rgb(52, 52, 221);
}
.bitta img {
    height: 50%;
    width: 100%;
}
.uchtanew{
    margin-top: 1%;
    display: flex;
    width: 69%;
    margin-left: 6%;
    justify-content: space-between;
}
.bitta .data {
    margin-top: 2%;
}
.bitta h5 {
    margin-top: 1%;
}
.jujun{
    display: flex;
    width: 90%;
    margin-left: 0.5%;
}
.kotta{
    margin-right:-23.5% ;
}
.nav {
    width: 100%;
}
.sarlav{
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.sarlav{
    width: 100%;
    font-size: 10px;
}
.navnews{
    border-bottom: 1px solid gray;
    margin-top: 4%;
}
.navnews h3{
    font-size: 14.5px;
    margin-top: 1.5%;
    margin-bottom: 5%;
}
.navnews span {
    color: orange;
    font-size: 13px;
}
.navnews a:hover{
    color: rgb(52, 52, 221);
}
.navnews a {
    color: black;
    text-decoration: none;
}
.kopr{
    padding: 10px;
    background-color: rgba(118, 145, 194, 0.336);
    margin-top: 10%;
    /* border-radius: 0px 50% 50% 0px; */
    /* width: 100%; */
    border-left: 2px solid rgb(19, 19, 121);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.kopr a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.kopr a:hover{
    color: rgb(52, 52, 221);
}












.data img {
    width: 18px;
}